<h2>Show Page</h2>
Title: <%= @article.title %><br>
Content: <%= @article.content %><br>
<a href="/article/<%=@article.id%>/edit">Edit Article</a>

<form method="post" action="/articles/<%= @article.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" />
</form>